@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";
@import "activeadmin_reorderable";
@import "active_admin/select2/base";
@import "font-awesome.css";

.max-width-200 {
  max-width: 200px;
}

.specialities-select {
  min-width: 150px;
  min-height: 80px;
}
